:root {
  --main-color1: #39CFD9;
  --main-color2: rgb(172, 172, 172);
  --btn-color1: rgb(100, 100, 100);
  --btn-color2: #FFF;
  --nav-color: rgb(211, 211, 211);
  --main-backcolor1: #fafafa;
  --main-backcolor2: #f4f4f49d;
  --main-backcolor3: white;
  --main-backcolor4: #656565;
  --font-color1: black;
  --font-color2: #535353;
  --font-color3: rgb(56, 56, 56);
  --shadow-color: rgb(187, 187, 187);
}

[data-theme="dark"] {
  --main-color1: #367c81;
  --main-color2: rgb(88, 86, 86);
  --btn-color1: rgb(240, 240, 240);
  --btn-color2: rgb(54, 54, 54);
  --nav-color: rgb(93, 93, 93);
  --main-backcolor1: #202020;
  --main-backcolor2: #202020;
  --main-backcolor3: rgb(93, 93, 93);
  --main-backcolor4: #313131;
  --font-color1: white;
  --font-color2: #eeeeee;
  --font-color3: rgb(233, 233, 233);
  --shadow-color: rgb(0, 0, 0);
}

.issue-container{
  background-color: var(--main-backcolor1);
  color: var(--font-color1);
}

.issue-container .box-issue{
    max-width: 1024px;
    width: 100%;
    /* min-width: 768px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.issue-container .issue-title {
    margin: 5px 0;
    font-weight: 600;
}

.issue-container .issue-info {
    text-align: left;
    margin-left: 10px;
    color: var(--font-color3);
}

.issue-container .issue-script {
    text-align: left;
    margin-left: 10px;
    font-size: 0.9em;
    color: var(--font-color2);
}

.issue-container .issue-content{
    margin: 5px 10px;
    height: 200px;
    border-radius: 15px;
    border: 1px solid gray;
    vertical-align: top;
    padding: 10px 10px;
    background-color: var(--main-backcolor1);
    color: var(--font-color1);
}

.issue-container .issue-content:focus{
    outline: none !important;
    border: 1px solid gray;
}


.issue-container .box-issue-btn{
    display: flex;
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    text-align: center;
  }

.issue-container span#btn-cancel{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#bdbdbd;
    padding-top: 3px;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 5px;
  }
  
.issue-container span#btn-issue{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#2AB2BB;
    padding-top: 3px;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
  }

  .issuealert-container{
    width: 100%;
    height: 100%; /*실제 적용시 100% */
    top: 0; /*실제 적용시 0 */
    left: 0;
    position: fixed;
    display: block;
    background: rgb(194, 194, 194);
    z-index: 9999;
    text-align: center;
  }
  
  .issuealert-container .box-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 20%; /*조절필요*/
    height: 25%; /*조절필요*/
    min-width: 300px;
    min-height: 220px;
    background-color: var(--main-backcolor3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
    color: var(--font-color1);
  }
  
  .issuealert-container .modal-message{
    margin: 15px 0;
    font-weight: 600;
    height: 50%;
    color: var(--font-color1);
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
  }
  
  .issuealert-container span{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#2AB2BB;
    padding-top: 3px;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
  }