.withdraw-container{
}

.withdraw-container .box-withdraw{
    max-width: 1024px;
    width: 100%;
    height: 100vh;
    /* min-width: 768px; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: rgb(223, 223, 223);
}

.withdraw-container .withdraw-title {
    margin: 5px 0;
    font-weight: 600;
}

.withdraw-container .withdraw-info {
    text-align: left;
    margin-left: 10px;
    color: rgb(54, 54, 54);
    font-size: 0.95em;
}

.withdraw-container .withdraw-script {
    text-align: left;
    margin-left: 10px;
    font-size: 0.8em;
    color: rgb(117, 117, 117);
}

.withdraw-container .withdraw-content{
    margin: 5px 10px;
    color: rgb(75, 75, 75);
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(114, 114, 114);
    height: 100px;
    line-height: 100px; 
    padding: 10px 10px;
    font-size: 0.85em;
    list-style-position: inside;
}

.withdraw-container .withdraw-content:focus{
    outline: none !important;
    border: 1px solid gray;
}

.withdraw-container .box-agree{
    font-size: 0.8em;
}


.withdraw-container .box-withdraw-btn{
    display: flex;
    margin: 10px 0;
    text-align: center;
    justify-content: center;
    text-align: center;
  }

.withdraw-container span#btn-cancel{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#bdbdbd;
    padding-top: 3px;
    color: white;
    width: 60px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-right: 5px;
  }
  
.withdraw-container span#btn-withdraw{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#2AB2BB;
    padding-top: 3px;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    margin-left: 5px;
  }

  .withdraw-container span#btn-withdraw-inactive{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#bdbdbd;
    padding-top: 3px;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    margin-left: 5px;
  }

/*탈퇴 완료 모달창*/
.withdraw-container .modalwithdraw-container{
    width: 100%;
    height: 100%; /*실제 적용시 100% */
    top: 0; /*실제 적용시 0 */
    left: 0;
    position: fixed;
    display: block;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    text-align: center;
  }
  
  .withdraw-container .modalwithdraw-container .box-modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    width: 20%; /*조절필요*/
    height: 25%; /*조절필요*/
    min-width: 300px;
    min-height: 220px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
  }
  
  .withdraw-container .modalwithdraw-container .modal-message{
    margin: 15px 0;
    font-weight: 600;
    height: 50%;
    display: flex;
    flex-direction: column;  
    justify-content: center; 
    align-items: center;
  }
  
  .withdraw-container .modalwithdraw-container span{
    display: block;
    text-align: center;
    vertical-align: middle;
    background-color:#2AB2BB;
    padding-top: 3px;
    color: white;
    width: 90px;
    height: 30px;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
  }