.findpw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
}

.findpw-container .home-logo {
  background-image: url('../img/logo.svg');
  width: 30vh;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.findpw-container .inner-container {
  display: grid;
  grid-template-columns: 358px;
  align-items: center;
  gap: 8px 25px;
  height: 430px;
}

.findpw-container .text-findPw {
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.findpw-container .text-email {
  font-weight: 700;
  font-size: 18px;
}

.findpw-container input {
  border: solid 2px #39cfd9;
  width: 100%;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 4px 2px #39cfd9;
  justify-self: center;
}

.findpw-container input:focus {
  outline: none;
}

.findpw-container button {
  background-color: #2ab2bb;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  margin: 20px;
  font-weight: 800;
  justify-self: center;
  width: 150px;
  height: 40px;
}

.findpw-container button:hover {
  cursor: pointer;
}

.findpw-container .btn-home {
  grid-column: 1/3;
  justify-self: center;
}

.findpw-container .hidden {
  visibility: hidden;
  grid-column: 1/2;
}

.findpw-container .text-sentMail {
  text-align: center;
  grid-column: 1/3;
  font-size: 25px;
  font-weight: 800;
  padding: 100px 30px 30px 30px;
}

.findpw-container .err {
  grid-row: 4/5;
  color: #ff7373;
  text-align: right;
}

.findpw-container .loading-container {
  height: 430px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .findpw-container input {
    width: 80%;
  }

  .findpw-container .text-email {
    padding-left: 20px;
  }

  .findpw-container .err {
    padding-right: 10%;
  }
}
