.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  min-width: 768px;
  margin: 0 auto;
}


.home-logo {
  background-image: url('../img/logo.svg');

  width: 270px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.signup-container input {
  outline: none;
  border: #39cfd9 solid 2px;
  width: 345px;
  height: 35px;
  font-size: 16px;
}

.signup-container button {
  background-color: #2ab2bb;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
}

.signup-container button:hover {
  cursor: pointer;
}

.signup-container .text {
  font-weight: 650;
}

.signup-container .btn-confirm {
  margin: 0px 0px 0px 10px;
  font-weight: 600;
  font-size: 15px;
}

.signup-container .ment,
.signup-container .text-checkment {
  text-align: right;
  color: #ff7373;
  margin-bottom: 15px;
  margin-right: 80px;
}

.signup-container .btn-signup {
  font-size: 18px;
  padding: 8px 150px 8px 140px;
  font-weight: 700;
  justify-self: center;
  margin-top: 20px;
}

.signup-container .text-sentMail {
  /* visibility: hidden; */
  text-align: center;
  font-size: 25px;
  font-weight: 800;
  padding: 100px 30px 30px 30px;
}

.signup-container .hidden {
  visibility: hidden;
}
