.updatepw-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  gap: 10px;
}

.updatepw-container .home-logo {
  background-image: url('../../img/logo.svg');
  width: 30vh;
  height: 200px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.updatepw-container .inner-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.updatepw-container .text-title {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 30px;
  text-align: center;
}

.updatepw-container .text-pw,
.updatepw-container .text-dubble-pw {
  font-weight: 700;
  font-size: 18px;
}

.updatepw-container input {
  border: solid 2px #39cfd9;
  width: 40vh;
  height: 35px;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 2px 4px 2px #39cfd9;
}

.updatepw-container input:focus {
  outline: none;
}

.updatepw-container button {
  background-color: #2ab2bb;
  border: none;
  color: white;
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  font-size: 18px;
  font-weight: 800;
  justify-self: center;
  height: 40px;
  margin-bottom: 20%;
}

.updatepw-container button:hover {
  cursor: pointer;
}

.updatepw-container .err {
  align-self: flex-end;
  color: #ff7373;
  font-size: 15px;
  font-weight: 500;
  height: 19px;
  padding-bottom: 15px;
}

.updatepw-container .hidden {
  visibility: hidden;
  height: 34px;
}

.updatepw-container .text-completed {
  height: 100px;
  font-size: 30px;
  font-weight: 800;
}

.updatepw-container .checkimg,
.updatepw-container .failimg {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30vh;
  width: 100%;
  margin-bottom: 5%;
}

.updatepw-container .checkimg {
  background-image: url('../../img/check.svg');
}

.updatepw-container .failimg {
  background-image: url('../../img/error.svg');
}

@media (min-width: 320px) and (max-width: 480px) {
  .updatepw-container input {
    width: 100%;
    font-size: 13px;
  }

  .updatepw-container .err {
    font-size: 13px;
  }

  .updatepw-container .text-completed {
    font-size: 20px;
    font-weight: 800;
  }
}
