.chat-container {
  display: flex;
  flex-direction: column;
  width: 95%;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  margin: 0 auto;
}

.chat-container .chat-open-comment {
  padding: 5px 0 5px 0;
  color: #ffffff;
  text-align: center;
  background-color: #ff9878;
  border-radius: 10px;
  font-weight: 700;
}

.chat-container .chat-messages {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  max-height: 400px;
  overflow-y: scroll;
  padding: 0 0 10px 0;
  color: black;
  font-weight: 700;
}

.chat-container .my-chat-sort {
  align-self: flex-end;
  text-align: right;
  max-width: 500px;
  display: inline-block;
  word-break: break-all;
}

.chat-container .my-chat,
.chat-container .other-chat {
  padding: 7px;
  background-color: white;
  max-width: 200px;
  border-radius: 10px;
  font-size: 14px;
  margin-right: 10px;
  display: inline-block;
  word-break: break-all;
  font-weight: 600;
}

.chat-container .other-chat {
  background-color: #77d8df;
  margin-left: 10px;
}

.chat-container .my-info,
.chat-container .other-info,
.chat-container .datetime {
  margin-top: 5px;
  max-width: 170px;
  font-size: 13px;
  margin-right: 10px;
  font-weight: 600;
  color: rgb(49, 49, 49);
}

.chat-container .datetime {
  text-align: end;
  min-width: 60px;
}

.mychat-box {
  display: flex;
  align-items: flex-end;
  min-width: 300px;
  justify-content: right;
}

.otherchat-box {
  display: flex;
  align-items: flex-end;
  min-width: 300px;
}

.hidden {
  visibility: hidden;
  height: 5px;
}

.chat-container .other-info {
  margin-left: 10px;
}

.chat-container .input-message {
  border: none;
  width: 80%;
  height: 30px;
  margin: 10px 10px 10px 5%;
  border-radius: 30px;
  padding-left: 10px;
}

.chat-container .input-message:focus {
  outline: none;
  border: none;
}

.chat-container .btn-send {
  outline: none;
  border: none;
  color: white;
  background-color: #77d8df;
  width: 10%;
  height: 30px;
  text-align: center;
  border-radius: 20px;
  font-weight: 800;
  min-width: 60px;
  margin-right: 10px;
}

.input-send-line {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
