.findmap-container {
  display: flex;
  flex-direction: row;
}

.findmap-container .searchResult-table {
  display: flex;
  flex-direction: column;
  margin: 2%;
  height: 470px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* border: 1px black solid; */
}

.findmap-container .inputForm {
  margin: 2%;
}
.findmap-container .input-textbox {
  border: none;
  font-size: 1.25em;
  width: 150px;
  height: 25px;
  background-color: var(--main-backcolor3);
  color: var(--font-color1);

  /* border: black 1px solid; */
}

.findmap-container .input-textbox:focus {
  outline: none;
}
.findmap-container .search-button {
  font-size: 1.2em;
  border: none;
  margin-left: 23px;
  width: 50px;
  background-color: var(--main-backcolor3);
  height: 27px;
  color: var(--font-color2);
}

.findmap-container .search-section {
  border: solid 1px black;
  width: 250px;
  height: 40px;
  border-radius: 4px;
  margin: 2%;
  display: flex;
  flex-direction: row;
  align-content: center;
}
.findmap-container .findmap-search {
  /* border: black solid 1px; */
  width: 295px;
}

.findmap-container .search-section {
  margin-left: auto;
  margin-right: auto;
}
.findmap-container .search-result {
  margin-top: 30px;
  margin-left: 2%;
  font-size: 1.25em;
}

.findmap-container .place-name {
  font-size: 1em;
  margin: 1%;
}

.findmap-container .place-address {
  font-size: 1em;
  margin: 1%;
}
.findmap-container .place-phone {
  font-size: 0.9em;
  margin: 1%;
}

.findmap-container .place-list {
  margin: 3%;
  padding: 2%;
  cursor: pointer;
  border-radius: 5px;
}
.findmap-container .place-list:hover {
  background-color: #39cfd9;
  color: white;
}
.findmap-container .selected {
  background-color: #39cfd9;
  color: white;
}
.findmap-container .emapty-result {
  font-size: 1.1em;
  text-align: center;
}

.findmap-container .place-list-container {
  border-bottom: black 1px solid;
  width: 250px;
}

.findmap-container .showmap {
  margin-left: auto;
}

.findmap-container #pagination {
  margin: 10px auto;
  text-align: center;
}
.findmap-container #pagination a {
  display: inline-block;
  margin-right: 10px;
  background-color: #9ca2a3;
  color: white;
  border-radius: 50px;
  width: 20px;
  text-decoration-line: none;
}
.findmap-container #pagination .on {
  font-weight: bold;
  cursor: default;
  background-color: #39cfd9;
}
